<h3> View Driver Details</h3>
<div>
    <div>
      <label><b>policy_id:</b></label> {{driver.policy.id}}
  </div>
  <div>
    <label><b>policy_Number:</b></label> {{driver.policy.policy_Number}}
</div>
<div>
  <label><b>policy_Effective_Date:</b></label> {{driver.policy.policy_Effective_Date}}
</div>
<div>
  <label><b>policy_Expire_Date:</b></label> {{driver.policy.policy_Expire_Date}}
</div>
<div>
  <label><b>payment_Option:</b></label> {{driver.policy.payment_Option}}
</div>
<div>
  <label><b>total_Amount:</b></label> {{driver.policy.total_Amount}}
</div>
<div>
  <label><b>created_Date:</b></label> {{driver.policy.created_Date}}
</div>
    <div>
      <label> <b> first_Name: </b></label> {{driver.first_Name}}
  </div>
    <div>
        <label> <b> last_Name: </b></label> {{driver.last_Name}}
    </div>
    <div>
        <label> <b>  date_Of_Birth: </b></label> {{driver.date_Of_Birth}}
    </div>
    <div>
      <label> <b>  phone_Number: </b></label> {{driver.phone_Number}}
  </div>
  <div>
    <label> <b>  license_Issued_Date: </b></label> {{driver.license_Issued_Date}}
</div>
<div>
  <label> <b>  license_Issued_State: </b></label> {{driver.license_Issued_State}}
</div>
<div>
  <label> <b>  license_Number: </b></label> {{driver.license_Number}}
</div>
<div>
  <label> <b>  created_Date: </b></label> {{driver.created_Date}}
</div>
</div>

